
body {
    background: #FFE5D7;
}


.flex-container {
    margin-left: 25%;
    background: #FFAC82;
    display: flex;
    border: double 2vh #FF681C;
    border-radius: 5%;
    width: 90vh;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container .flex-item {
    font-size: 14vh;
    background: #7474FF;
    color: #000088;
    width: 20.5%;
    height: 20.5%;
    border: inset .4vh #FF681C;
    border-radius: 25%;
    display: table;

}

.flex-container .flex-item-empty {
    width: 20.5%;
    height: 20.5%;
}


.flex-item .innerText {
    font-family: fantasy;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    animation: blinker 4s linear infinite;
}


@keyframes blinker {
    0% {color: black}
    50%{color: brown}
    100% {color: black}
}