body {
    background: #FFE5D7;
}
.board {
    margin-left: 13%;
    margin-top: 2%;
    background: #FFAC82;
    display: flex;
    border: double 2vh #FF681C;
    border-radius: 4%;
    width: 140vh;
    height: 85vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container {

    background: #FFAC82;
    display: flex;
    border: inset .5vh #FF681C;
    border-radius: 5%;
    width: 80vh;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.resultDesk {

    background: #FFAC82;
    border-radius: 5%;
    width: 45vh;
    height: 32vh;
    font-size: 5vh;

}

.resultLabel, .counterLabel{
    position: relative;
    top: 4%;
    left: 8%;
    width: 80%;
    height: 8%;
    font-family: FANTASY, serif;
    text-align: center;
}

.counterLabel{
    top: 17%;
}

button,
button:active,
button:focus {
    outline: none;
}

.newGameButton {
    position: relative;
    width: 100%;
    margin-top: 25%;

    background: #d9aa34;
    background-image: -webkit-linear-gradient(top, #d9aa34, #b82b2b);
    background-image: -moz-linear-gradient(top, #d9aa34, #b82b2b);
    background-image: -ms-linear-gradient(top, #d9aa34, #b82b2b);
    background-image: -o-linear-gradient(top, #d9aa34, #b82b2b);
    background-image: linear-gradient(to bottom, #d9aa34, #b82b2b);
    border-radius: 10vh;
    font-family: FANTASY, serif;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.newGameButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #fdf24d, #db131d);
    background-image: -moz-linear-gradient(top, #fdf24d, #db131d);
    background-image: -ms-linear-gradient(top, #fdf24d, #db131d);
    background-image: -o-linear-gradient(top, #fdf24d, #db131d);
    background-image: linear-gradient(to bottom, #fdf24d, #db131d);
    text-decoration: none;
}

.box {
    width: 20.5%;
    height: 20.5%;
    border: inset .4vh #FF681C;
    border-radius: 25%;
    text-align: center;
    line-height: 120%;
    font-family: fantasy;
    font-size: 14vh;
    animation: blinker 4s linear infinite;;

}

.box:hover {
    background: #FFAD52;
    cursor: pointer
}

.down {
    position: relative;
    content: "";
    border-left: 2vh solid rgba(113, 101, 58, 0);
    border-right: 2vh solid rgba(113, 101, 58, 0);
    border-top: 2vh solid red;
    left: 7vh;
    top: -2.5vh;
    width: 0.3vh;
    visibility: hidden;
}

.up {
    position: relative;
    content: "";
    border-left: 2vh solid rgba(113, 101, 58, 0);
    border-right: 2vh solid rgba(113, 101, 58, 0);
    border-bottom: 2vh solid red;
    left: 7vh;
    top: -18.5vh;
    width: 0.3vh;
    visibility: hidden;
}

.left {
    position: relative;
    content: "";
    border-right: 2vh solid red;
    border-bottom: 2vh solid rgba(113, 101, 58, 0);
    border-top: 2vh solid rgba(113, 101, 58, 0);
    top: -14.5vh;
    width: 0.3vh;
    visibility: hidden;
}

.right {
    position: relative;
    content: "";
    border-left: 2vh solid red;
    border-bottom: 2vh solid rgba(113, 101, 58, 0);
    border-top: 2vh solid rgba(113, 101, 58, 0);
    left: 14.5vh;
    top: -18.5vh;
    width: 0.3vh;
    visibility: hidden;
}



@keyframes blinker {
    0% {
        color: black
    }
    50% {
        color: brown
    }
    100% {
        color: black
    }
}
