* {
    margin: 0;
    padding: 0;
}

body {
    background: white url("noise.png");
    width: 100%;
    height: 100%;
    }

<<<<<<< HEAD
img.inverted{
   // visibility: hidden;
    position: relative;
=======
#up_line{
    position: absolute;
>>>>>>> 6be1be5a16cf6b07a8190103df0fce0e4ccd8a7f
    width: 100%;
    height: .7vh;
    background: #7e7e7e
}



.inverted{
    position: absolute;
    visibility: visible;
    margin-left: 15%;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    opacity: .3;
}
/*.wrapper {
    position: relative;
    display: block;
    margin-top: -119.7%;
    margin-left: 11.9%;
    width: 76.2%;
    height: 229.7vh;
    border: 1px solid black;
}

.header {
    position: absolute;
}

.top {
    position: relative;
}

.topLine{
    position: absolute;
    display: block;
    background-color:  #7e7e7e;
    width: 100vw;
    height: 2vh;
}

.logo{
    position: relative;
    left: 13.5vw;
    top: 12.4vh;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 8vh;
    letter-spacing: -0.125vw;
}

.logo > .square{
    position: absolute;
    left: -1.7vw;
    top: -3vh;
    width: 5.3vh;
    height: 5.3vh;
    border: .7vh solid #29c5e6
}

.menu {
}

.main {
}

.pageTitle {
}

.subMenu {
}

.ourOffices {
}

.aboutUs {
}

.ourTeam {
}

.footer {
}

.socialNetworks {
}

.tweeterFeed {
}

.siteMap {
}

.logoAndCopy {
}*/
