* {
    margin: 0;
    padding: 0;
}

body {
    background: white url("noise.png");
    width: 100%;
    height: 100%;
    }

#up_line{
    position: absolute;
    width: 100%;
    height: .7vh;
    background: #7e7e7e
}



.inverted{
    position: absolute;
    visibility: visible;
    margin-left: 15%;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    opacity: .3;
}
/*.wrapper {
    position: relative;
    display: block;
    margin-top: -119.7%;
    margin-left: 11.9%;
    width: 76.2%;
    height: 150vh;
    border: 1px solid black;
}

.header {
}

.top {
}

.menu {
}

.main {
}

.pageTitle {
}

.subMenu {
}

.ourOffices {
}

.aboutUs {
}

.ourTeam {
}

.footer {
}

.socialNetworks {
}

.tweeterFeed {
}

.siteMap {
}

.logoAndCopy {
}*/
