* {
    margin: 0;
    padding: 0;
}

body {
    background: white url("noise.png");
    width: 100%;
}

#screen {
    position: absolute;
    left: 10%;
    width: 86.6%;
    height: 1665px;
    border: 1px solid black;
}

#up_line {
    position: absolute;
    width: 100%;
    height: .7vh;
    background: #7e7e7e
}

#wrapper {
    position: absolute;
    width: 76.2%;
    height: 92%;
    margin-left: 11.9%;
    border: 1px solid black;
}

#header {
    width: 100%;
    height: 8.5%;
    opacity: .4;
    margin-top: .9%;
}

#top {
    width: 100%;
    height: 50%;


}

#whitesquare {
    position: relative;
    top: 31%;

    width: 100%;
    height: 100%;
    background: url("logo.png") no-repeat;
}

#logo {
  /*  width: 100%;
    height: 100%;
    background: url("logo.png") no-repeat;*/
}

#searchform {
    width: 100%;
    height: 100%;
}

#searchblock {
    position: relative;
    width: 21%;
    height: 24%;
    left: 79%;
    top: -34%;
}

#inputtext {
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    background-color: #f3f3f3;
    height: 100%;
    width: 77%;
    padding-left: 4.5%;
    font-family: Tahoma, sans-serif;
    font-size: 80%;
    color: #b2b2b2;
}

#submitbutton {
    position: relative;
    left: -1%;
    height: 100%;
    width: 21%;
    background-color: #29c5e6;
    font-family: Oswald;
    color: #fefefe;
}

#nav {
    position: relative;
    height: 31%;
    top: -12%;
    border-style: solid;
    border-width: 1px;
    border-color:  #e7e7e7;
}

#mainmenu {
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    color:  #b2b2b2;

}

#mainmenu > li {
    float: left;
    width: 12.4%;
    text-align: center;
    padding-top: 1.15%;
    font-family: Oswald;
    font-size:80%;




}

#mainmenu li:hover {
    background:  #29c5e6;
    color:  #ffffff;
}

#main {
    width: 100%;
    height: 83.6%;
    border: 1px solid black;
    background-color: orange;
    opacity: .4;
}

#aboutus {
    position: relative;
    top: 1.5%;
    border: 1px solid black;
    width: 100%;
    height: 3%;
    background: red;
}

#lmenu {
    position: relative;
    top: 3.7%;
    border: 1px solid black;
    width: 25.9%;
    height: 19%;
    background: blue;
}

#ouroffices {
    position: relative;
    top: 5%;
    border: 1px solid black;
    width: 25.9%;
    height: 18%;
    background: violet;
}

#bigarticle {
    position: relative;
    top: -34%;
    left: 29%;
    border: 1px solid black;
    width: 70.8%;
    height: 59%;
    background: brown;
}

#ourteam {
    position: relative;
    top: -33%;
    left: 29%;
    border: 1px solid black;
    width: 70.8%;
    height: 32%;
    background: blueviolet;
}

#footer {
    position: absolute;
    bottom: 7.85%;
    width: 100%;
    height: 6.8%;
    border: 1px solid black;
    background-color: green;
    opacity: .3;
}

#twitterfeed {
    position: relative;
    margin-left: 11.9%;
    border: 1px solid black;
    width: 23%;
    height: 100%;
    background: blueviolet;
}

#sitemap {
    position: relative;
    margin-left: 34.9%;
    margin-top: -9.2%;
    border: 1px solid black;
    width: 15%;
    height: 100%;
    background: yellowgreen;
}

#socialnetworks {
    position: relative;
    margin-left: 50%;
    margin-top: -9.2%;
    border: 1px solid black;
    width: 15%;
    height: 100%;
    background: blanchedalmond;
}

#footerlogo {
    position: relative;
    margin-left: 65%;
    margin-top: -9.2%;
    border: 1px solid black;
    width: 23.1%;
    height: 100%;
    background: lemonchiffon;
}

.inverted {
    height: auto;
    position: absolute;
    visibility: hidden;
    filter: invert(100%);
/ / -webkit-filter : invert(100 %);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
  //  opacity: .3;
}
